@model Department
@{
    Layout = "_Layout";
    ViewBag.Title = "dept Edit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <form method="post">
        <label asp-for="DeptId"></label><input type="hidden" asp-for="DeptId" /><br />
        <label asp-for="DeptName"></label><input asp-for="DeptName" /><br />
        <input type="submit" value="update" />
    </form>
</body>
</html>
