@model Department
@{
    Layout = null;
    Course Crs = ViewBag.course; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddstudentDegree</title>
</head>
<body>
    <h1>Department Name @Model.DeptName</h1>
    <h1>Course Name @Crs.Crs_Name</h1>
    <form method="post">
        @foreach(var item in Model.students)
        {
            <label>@item.Name</label>
            <input type="text" name="degree.@item.Id" />
        }
        <br />
        <input type="submit" value="add" />
    </form>
</body>
</html>
