@model Student
@{
    SelectList deptsl = new SelectList(ViewBag.deptlist, "DeptId", "DeptName");
}
<label asp-for="Name"></label>
<input asp-for="Name" class="form-control" />
<span asp-validation-for="Name" class="text-danger"></span>
<br />
<label asp-for="Age"></label>
<input asp-for="Age" class="form-control" />
<span asp-validation-for="Age" class="text-danger"></span>
<br />
<label asp-for="Email"></label>
<input asp-for="Email" class="form-control" />
<span asp-validation-for="Email" class="text-danger"></span>
<br />
<label asp-for="ConfirmEmail"></label>
<input asp-for="ConfirmEmail" class="form-control" />
<span asp-validation-for="ConfirmEmail" class="text-danger"></span>
<br />
<label asp-for="DeptNo"></label>
<select asp-for="DeptNo" asp-items="deptsl" class="form-control">
    <option>Select department</option>
    @*@foreach(var item in Model)
    {
    <option value="@item.">@item.DeptName</option>
    }*@    
 <br />
    
</select>
@* <span asp-validation-for="DeptNo"></span> *@
<br />
